<!DOCTYPE html>
<html>
<style>
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}
input[type=submit]:hover {
    background-color: #45a049;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
img.avatars {
  width: 40%;
  border-radius: 50%;
}
</style>
<body>
  <div class="imgcontainer">
    <img src="/media/login/img_avatar2.png" alt="Avatar" class="avatars">
  </div>
<div>
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.password.label_tag }}
    {{ form.password }}

    {{ form.errors }}
  
    <input type="submit" value="Login">
  </form>
</div>

</body>
</html>