{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/1.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Una vista al mundo del café</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>COOPALMA DE RL es una empresa cafetalera del municipio de La Palma, Chalatenango fundada el 21 de julio del año 1996, 
              fecha en la cual se constituye la Sociedad Cooperativa de Caficultores La Palma de Responsabilidad Limitada de Capital 
              Variable, en adelante ACOOPALMA de R.L. de C.V. </p>
            <p>COOPALMA de R.L. quedó conformada en sus inicios por 20 personas, 19 hombres y una mujer, siendo una de las empresas 
              cafetaleras más importantes en la zona, posee amplio liderazgo y posicionamiento en la región por la calidad y 
              volumen que maneja.</p>
            <p> La producción de café forma parte de la fuente de ingresos que sostiene la economía de El Salvador, 
              La Cooperativa ACOOPALMA de R.L es una pequeña industria en la cual día a día se esfuerza para dar los mejores 
              resultados llenos de calidad y entusiasmo para satisfacer a todos los socios y clientes. En el transcurso del 
              tiempo esta ha tenido muchos cambios que han sido para mejorar la atención a clientes y calidad de productos.</p>
          </div>
        </div>
      </div>
    </div>
    <!---<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/1.jpg' %}" alt=""--->
  </div>
</section>
{% endblock %}