{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/cafeH.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Deja tu café en la mano de los expertos</span>
          <span class="section-heading-lower">Te gustará</span>
        </h2>
        <p class="mb-3">Trabajamos con los procesos adecuados para que tu café tenga la esencia que merece. Una vez lo pruebes, tu café será la mejor forma de empezar tu rutina diaria.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{% url 'store'  %}">Visítanos</a>
        </div>
      </div>
    </div>
  </div>

  
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Compromiso total</span>
            <br>
            <span class="section-heading-upper">Misión</span>
          </h2>
          <p class="mb-0">Asegurar que la Cooperativa de Caficultores es una empresa moderna, transparente, 
            eficiente y eficaz en el manejo e inversión de los recursos, comprometida con el desarrollo del gremio 
            de productores de café, que fortalece la organización interna y potencia la participación de los socios/as en 
            la toma de decisiones.
            Asegurar el mejoramiento constante de la producción que genere mayores ganancias, contribuyendo a su sostenibilidad, 
            para que tanto sus socios como empleados mejoren su calidad de vida.
            Una empresa respaldada por una Junta Directiva comprometida con la visión y con la misión de la Cooperativa, 
            que promueva un ambiente de trabajo agradable, donde existan oportunidades de capacitación permanente.
            </p>

            <br> <br>
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Visión</span>
            </h2>
            <p>Ser una Cooperativa competitividad en la zona, sostenible, con ahorro y capacidad financiera; convertirnos en una Cooperativa Procesadora y exportadora del café de altura, asegurando la calidad de la producción desde su cultivo hasta el procesamiento.
                Una Cooperativa con amplias instalaciones, con equipo y maquinaria moderna que permita agilizar los procesos para ser efectivos y eficientes con nuestros clientes, que cuente con asistencia técnica permanente, que asesore a los productores en cada una de las etapas de la producción, en donde sus socios y socias estén unidos y corresponsablemente trabajen por su crecimiento por la diversificación de la producción del café para disminuir los costos de los insumos, por el adecuado mercadeo y venta de la producción a nivel nacional e internacional.
                </p>
                
            
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}